
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <link type="text/css" rel="stylesheet" href="/css/css/bootstrap.min.css" th:href="@{/css/css/bootstrap.min.css}" />
    <title>DogStore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Kirjaudu ulos" class="btn btn-danger"/>
    </form>
    <h3>All products</h3>
    <br>

    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Color</th>
            <th>Price</th>
            <th>Size</th>
            <th>Manufacturer</th>
            <th>Stock</th>
            <th>Type</th>
            <th colspan="2"></th>
            
        </tr>
        <tr th:each="product : ${products}"> 
            <td th:text="${product.name}"></td>
            <td th:text="${product.color}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.size}"></td>
            <td th:text="${product.manufacturer.name}"></td>
            <td th:text="${product.stock}"></td>
            <td th:text="${product.type.name}"></td>

            <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/editproduct/{id}(id=${product.id})}"  class="btn btn-success">Edit</a></td>
			<td sec:authorize="hasRole('ADMIN')"><a th:href="@{/deleteproduct/{id}(id=${product.id})}" class="btn btn-danger"
                onclick="confirm('Are you sure you want to delete this?')"><button class="btn btn-danger">Delete</button></a></td>
        </tr>
    </table >
    <br>
    <br>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/addproduct}"><button class="btn btn-primary">Add product</button></a>
    <br> <br>
    <a th:href="@{/manufacturerlist}"><button class="btn btn-dark">Manufacturerlist</button></a>
    <br> <br>
    <a th:href="@{/customerlist}"><button class="btn btn-dark">Customerlist</button></a>
    <br><br>
    <a th:href="@{/}"><button class="btn btn-dark">Etusivu</button></a>
</body>
</html>