
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/css/bootstrap.min.css" th:href="@{/css/css/bootstrap.min.css}" />
    <title>DogStore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h3>Clothes</h3>
    
    
    <table class="table table-striped">
        <tr>
            <th>name</th>
            <th>color</th>
            <th>price</th>
            <th>manufacturer</th>
        </tr>
        <tr th:each="vaate : ${vaatekappaleet}"> 
            <td th:text="${vaate.name}" ></td>
            <td th:text="${vaate.color}"></td>
            <td th:text="${vaate.price}"></td>
            <td th:text="${vaate.manufacturer.name}"></td>
            
        </tr>
    </table>
    <br>
    <br>
    <br><br>
    
    <a th:href="@{/productlist}">productlist </a>
    <br><br>
    <a th:href="@{/}">etusivu </a>


</body>
</html>