
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/css/bootstrap.min.css" th:href="@{/css/css/bootstrap.min.css}" />
    <title>DogStore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h3 th:text="'all ' + ${manufacturer.name} + ' products'"></h3>
    
    
    <table  class="table table-striped">
        <tr>
            <th>name</th>
            <th>color</th>
            <th>price</th>
            <th>size</th>
            <th>type</th>
            <th colspan="2"></th>
        </tr>
        <tr th:each="product : ${products}"> 
            <td th:text="${product.name}"></td>
            <td th:text="${product.color}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.size}"></td>
            <td th:text="${product.type.type}"></td>
        </tr>
    </table>
           
    
    <a th:href="@{/manufacturerlist}"><button class="btn btn-dark">manufacturerlist</button>  </a>
    <br><br>
    <a th:href="@{/}"><button class="btn btn-dark">etusivu</button></a>
</body>
</html>