
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/css/bootstrap.min.css" th:href="@{/css/css/bootstrap.min.css}" />
    <title>DogStore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h3>all products</h3>
    <br>

    <table class="table table-striped">
        <tr>
            <th>name</th>
            <th>color</th>
            <th>price</th>
            <th>size</th>
            <th>manufacturer</th>
            <th>type</th>
            <th colspan="2"></th>
            
        </tr>
        <tr th:each="product : ${productlist}"> 
            <td th:text="${product.name}"></td>
            <td th:text="${product.color}"></td>
            <td th:text="${product.price}"></td>
            
            <td th:text="${product.size}"></td>
            <td th:text="${product.manufacturer.name}"></td>
            <td th:text="${product.type.type}"></td>

            <td><a th:href="@{/editproduct/{id}(id=${product.productId})}"  class="btn btn-success">edit</a></td>
			<td><a th:href="@{/deleteproduct/{id}(id=${product.productId})}" class="btn btn-danger"
                onclick="confirm('Are you sure you want to delete this?')"><button class="btn btn-danger">delete</button></a></td>
        </tr>
    </table >
    <br>
    <br>
    <a th:href="@{/addproduct}"><button class="btn btn-primary">add product</button></a>
    <br> <br>
    <a th:href="@{/manufacturerlist}"><button class="btn btn-dark">manufacturerlist</button></a>
    <br> <br>
    <a th:href="@{/}"><button class="btn btn-dark">etusivu</button></a>
</body>
</html>