
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>DogStore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h3>add product</h3>
    <form action="#" method="post" th:action="@{/saveproduct}" th:object="${product}">
        <input type="hidden" th:field="*{productId}"/>
        <input type="text" th:field="*{name}" placeholder="name" required>
        <input type="text" th:field="*{color}" placeholder="color" required>
        <input type="text" th:field="*{price}" placeholder="price" required>

        <select th:field="*{size}" class="form-control" required>
            <option value="" disabled selected hidden>Select size</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
            <option value="XXL">XXL</option>
        </select>
        
        <select th:field="*{manufacturer}" class="form-control" required>
            <option value="" disabled selected hidden>Select manufacturer</option>
            <option th:each="manufacturer : ${manufacturer}" th:value="${manufacturer.id}" th:text="${manufacturer.name}"></option>
        </select>
        

        <input type="reset" value="reset"><button>submit</button>
    </form>
    <a th:href="@{/}">etusivu </a>
</body>
</html>